<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact</title>
    </head>

    <header class="header">
        <h1>Contact</h1>
    </header>

    <main class="contact_main">
        <div class="contact_container">
            <p>Contacting me is easiest by email.I check it regularly and will 
                attempt to get back to you within 24-36 hours. 
            </p>
        </div>
        <div class="text_area_container"> 
            <textarea>Type your response here</textarea>
            <button class="contact_submit_button" type="button">Submit</button>
        </div>

    </main>
</html>